<!DOCTYPE html>
<html>
<head>
  <title><%= t :site_name %></title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
  <h1><%= t :site_name %></h1>
</header>

<section>
  <%= yield %>
</section>

</body>
</html>
